# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
mask_detection_env/

# Jupyter Notebook
.ipynb_checkpoints

# Data folders (large datasets)
data/
data_split/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/